@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, 
body * {
    font-family: 'Mulish', sans-serif;
}


.scroller::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: transparent;
	transition: .5s;
}
.scroller:hover::-webkit-scrollbar-thumb {
	background: #b4b8b8;
}
.scroller {
	overflow-y: scroll;
	scrollbar-color: #000 #fff;
	scrollbar-width: thin;
}
.scroller::-webkit-scrollbar {
	width: 6px;
}
.scroll-team {
	max-height: calc(100vh - 200px);
	min-height: calc(100vh - 200px);
}

.scroll-rightcomp {
	max-height: calc(100vh - 113px);
	min-height: calc(100vh - 113px);
}