<!DOCTYPE html>
<html>
    <head>
        <title>
            Symfony
        </title>

        <link rel="stylesheet" href="/build/app.css">
     
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div id="root"></div>
    </body>
   
</html>